#parse ( "include/loader_wordutils.vm" )
#parse ( "include/loader_inflector.vm" )
#set ( $pluralEntityName = $wordUtils.capitalize($inflector.getInstance().pluralize($entity.name)) )
#set ( $domainKeys            = [] )
#set ( $domainUkKeys          = [] )
#set ( $domainIndexes         = [] )
#set ( $domainEnumerators     = [] )
#set ( $domainLinks           = [] )
#set ( $domainStrings         = [] )
#set ( $domainDecimals        = [] )
#set ( $domainTimestamps      = [] )
#set ( $domainDates           = [] )
#set ( $domainBooleans        = [] )
#set ( $domainLinksManyToMany = [] )
#set ( $domainLinksOneToMany  = [] )
#set ( $domainLinksManyToOne  = [] )
#set ( $domainLinksOneToOne   = [] )
#foreach( $field in $entity.keyAttributes )
#set ( $x = $domainKeys.add($field) )
#end
#foreach( $field in $entity.selectedLinks )
#if ( $field.fieldType.contains("Enum_") )
#set ( $x = $domainEnumerators.add($field) )
#else
#set ( $x = $domainLinks.add($field) )
#if ( $field.isCardinalityManyToMany() )
#set ( $x = $domainLinksManyToMany.add($field) )
#elseif ( $field.isCardinalityOneToMany() )
#set ( $x = $domainLinksOneToMany.add($field) )
#elseif ( $field.isCardinalityManyToOne() )
#set ( $x = $domainLinksManyToOne.add($field) )
#elseif ( $field.isCardinalityOneToOne() )
#set ( $x = $domainLinksOneToOne.add($field) )
#end
#end
#end
#set ( $domainLinkAttributes = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.IN_SELECTED_LINKS ) )
#foreach( $field in $domainLinkAttributes )
#set ( $x = $domainIndexes.add($field) )
#end
#set ( $domainAttributes = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
#foreach( $field in $domainAttributes )
#if ( $field.isStringType() )
#set ( $x = $domainStrings.add($field) )
#elseif ( $field.isDecimalType() )
#set ( $x = $domainDecimals.add($field) )
#elseif ( $field.isTimestampType() )
#set ( $x = $domainTimestamps.add($field) )
#elseif ( $field.isDateType() )
#set ( $x = $domainDates.add($field) )
#elseif ( $field.isBooleanType() )
#set ( $x = $domainBooleans.add($field) )
#end
#if ( $field.databaseComment.contains("UniqueKey") )
#set ( $x = $domainUkKeys.add($field) )
#elseif ( $field.databaseComment.contains("Index") )
#set ( $x = $domainIndexes.add($field) )
#end
#end
