#parse ( "include/domain_info.vm" )
$entity.name
#foreach( $field in $domainKeys )
${field.name} [domainKeys]
#end
#foreach( $field in $domainLinks )
${field.fieldName} [domainLinks]
#end
#foreach( $field in $domainEnumerators )
${field.fieldName} [domainEnumerators]
#end
#foreach( $field in $domainStrings )
${field.name} [domainStrings]
#end
#foreach( $field in $domainBooleans )
${field.name} [domainBooleans]
#end
#foreach( $field in $domainDecimals )
${field.name} [domainDecimals]
#end
#foreach( $field in $domainDates )
${field.name} [domainDates]
#end
#foreach( $field in $domainTimestamps )
${field.name} [domainTimestamps]
#end
#if ( $entity.name.contains("Enum_") )
#set ( $entityName = $entity.name.replace("Enum_", "") )
$target.forceEntityName(${entityName})
#end

$capitalizedEntityName [capitalize] 
$uncapitalizeEntityName [uncapitalize] 
$pluralEntityName [capitalize plural]
$wordUtils.uncapitalize( $inflector.getInstance().pluralize( $entity.name ) ) [uncapitalize plural]

#foreach( $field in $domainUkKeys )
$field.name [Unique Keys]
#end
#foreach( $field in $domainIndexes )
$field.name [Indexes]: $field.isNotNull()
#end

#foreach( $element in $domainReferencedBy )
References [The $entity.name is referenced by $element]
#end
