#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Get${entity.name}ByIdUseCaseImpl.java", $target.folder, "root/core/src/main/java/usecaseimpl/GetByIdUseCaseImpl_java.vm" )
#end