import java.io.Serializable;
#if ( $domainDecimals.size() > 0 )
import java.math.BigDecimal;
#end
#if ( $domainDates.size() > 0 )
import java.time.LocalDate;
#end
#if ( $domainTimestamps.size() > 0)
import java.time.LocalDateTime;
#end
#if ( $domainLinksManyToMany.size() > 0 || $domainLinksOneToMany.size() > 0 )
import java.util.List;
#end

import javax.persistence.Access;
import javax.persistence.AccessType;
#if ( $domainLinksManyToMany.size() > 0 || $domainLinksOneToMany.size() > 0 )
import javax.persistence.CascadeType;
#end
import javax.persistence.Column;
import javax.persistence.Entity;
#if ( $domainLinksManyToMany.size() > 0 || $domainLinksOneToMany.size() > 0 || $domainLinksManyToOne.size() > 0 || $domainLinksOneToOne.size() > 0 )
import javax.persistence.FetchType;
#end
#if ( $domainLinksManyToOne.size() > 0 || $domainLinksOneToOne.size() > 0 ) 
import javax.persistence.ForeignKey;
#end
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
#if ( $domainIndexes.size() > 0 )
import javax.persistence.Index;
#end
#if ( $domainLinksManyToOne.size() > 0 || $domainLinksOneToOne.size() > 0 ) 
import javax.persistence.JoinColumn;
import javax.persistence.ManyToOne;
#end
#if ( $domainLinksManyToMany.size() > 0 || $domainLinksOneToMany.size() > 0 )
import javax.persistence.OneToMany;
#end
import javax.persistence.Table;
#if ( $domainUkKeys.size() > 0 )
import javax.persistence.UniqueConstraint;
#end
#if ( $domainLinksManyToMany.size() > 0 || $domainLinksOneToMany.size() > 0 )

import org.hibernate.annotations.Fetch;
import org.hibernate.annotations.FetchMode;

import com.fasterxml.jackson.annotation.JsonBackReference;
#end

#foreach( $field in $domainLinks )
#set ( $fieldType = $field.fieldType )
import ${ROOT_PKG}.dataprovider.${fieldType.toLowerCase()}.domain.${fieldType}Entity;
#end
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;
