enum-gender-female=Female
enum-gender-male=Male
exception.unexpected=An unexpected error has occurred, please try again later!
exception.request.body.is.invalid.or.missing=The required request body is invalid!
exception.field.format=The ''{0}'' field provided is not in an expected format!
exception.access.denied=Access denied!
exception.database.constraint.violation=An unexpected error occurred while updating the data, please try again later!
validation.entity.id.null=The entity''s identifier is required!
validation.entity.id.notfound=The entity with identifier: ''{0}'' has not been found!
validation.entity.title.blank=The entity''s title is required!
validation.entity.title.already.exists=There is already a entity with the title ''{0}'' registered!
validation.entity.start.creation.date.invalid=The entity''s initial registration date is invalid!
validation.entity.end.creation.date.invalid=The entity''s final registration date is invalid!
validation.entity.price.null=The entity''s price is required!
validation.entity.price.negative=The price of the entity cannot be negative!
validation.entity.available.null=The entity availability is required!
validation.entitys.ids.null=The entitys'' identifiers are required!
validation.get.by.ids.limit=The requested quantity exceeds the limit of 1000 items!
validation.enumerator.value.invalid=The value ''{0}'' is invalid for ''{1}'', valid values are: {2}!
