#parse ( "include/loader_inflector.vm" )
#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Get${entity.name}ByIdDataProvider.java", $target.folder, "root/dataproviders/database/src/main/java/GetByIdDataProvider_java.vm" )
#end