#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()};

import org.apache.commons.lang3.StringUtils;
import org.mapstruct.factory.Mappers;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.PageRequest;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};
#set ( $fieldName = $strUtils.substringBetween($target.file, "By", "IdDataProvider") )
#set ( $uncapitalizedFieldName = $wordUtils.uncapitalize($fieldName) )
import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.gateway.Search${pluralEntityName}By${fieldName}IdGateway;

import ${ROOT_PKG}.core.common.paging.Page;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.domain.${entity.name}Entity;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.mapper.${entity.name}Mapper;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.repository.${entity.name}Repository;
import ${ROOT_PKG}.dataprovider.common.PageMapper;
import ${ROOT_PKG}.dataprovider.common.PageRequestHelper;

#include ( "/include/author.vm" )

@Transactional(readOnly = true)
@Service
public class Search${pluralEntityName}By${fieldName}IdDataProvider implements Search${pluralEntityName}By${fieldName}IdGateway {
    
	private final ${entity.name}Mapper ${wordUtils.uncapitalize($entity.name)}Mapper = Mappers.getMapper(${entity.name}Mapper.class);
    private final PageMapper<${entity.name}, ${entity.name}Entity> pageMapper = new PageMapper<>() {};

    @Autowired
    ${entity.name}Repository ${wordUtils.uncapitalize($entity.name)}Repository;

    @Override
    public Page<${entity.name}> execute(final Long ${uncapitalizedFieldName}Id, final Integer pageNumber, final Integer size, final String orderBy) {

        final PageRequest pageRequest = PageRequestHelper.buildPageRequest(pageNumber, size, sanitizeOrderBy(orderBy));
    	
        final org.springframework.data.domain.Page<${entity.name}Entity> page = ${wordUtils.uncapitalize($entity.name)}Repository.findByAuthorId(${uncapitalizedFieldName}Id, pageRequest);

        return pageMapper.of(page, ${wordUtils.uncapitalize($entity.name)}Mapper::of);
    }

    private String sanitizeOrderBy(final String orderBy) {
        if (StringUtils.isBlank(orderBy) || StringUtils.equalsIgnoreCase(orderBy, "UNSORTED")) {
#if ( $domainStrings.size() > 0 )
            return "${domainStrings.get(0).name}:asc";
#elseif ( $domainEnumerators.size() > 0 )
            return "${domainEnumerators.get(0).name}:asc";
#elseif ( $domainBooleans.size() > 0 )
            return "${domainBooleans.get(0).name}:asc";
#elseif ( $domainTimestamps.size() > 0 )
            return "${domainDates.get(0).name}:asc";
#elseif ( $domainTimestamps.size() > 0 )
            return "${domainDates.get(0).name}:asc";
#elseif ( $domainKeys.size() > 0 )
            return "${domainKeys.get(0)}:asc";
#end
        }
        return StringUtils.stripToEmpty(orderBy);
    }
}
