#set ( $hasDecimal = 0 )
#set ( $hasTimestamp = 0 )
#set ( $hasDate = 0 )
#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
#foreach( $field in $dataFields )
#if ( $field.isDecimalType() )
#set ( $hasDecimal = 1 )
#end
#if ( $field.isTimestampType() )
#set ( $hasTimestamp = 1 )
#end
#if ( $field.isDateType() )
#set ( $hasDate = 1 )
#end
#end
import java.io.Serializable;
#if ( $hasDecimal == 1)
import java.math.BigDecimal;
#end
#if ( $hasDate == 1)
import java.time.LocalDate;
#end
#if ( $hasTimestamp == 1)
import java.time.LocalDateTime;
#end

#foreach( $field in $entity.selectedLinks )
#set ( $fieldType = $field.fieldType )
#if ( !$fieldType.contains("Enum_") )
import ${ROOT_PKG}.core.${fieldType.toLowerCase()}.domain.${fieldType};
#end
#end

import lombok.AllArgsConstructor;
import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.ToString;
