#parse ( "include/loader_stringutils.vm" )
#parse ( "include/loader_wordutils.vm" )
package ${ROOT_PKG}.core.${entity.name.toLowerCase()}.gateway;

import java.util.Optional;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};

#include ( "/include/author.vm" )
#set ( $fieldName =  $strUtils.substringBetween($target.file, "By", "Gateway"))
#set ( $uncapitalizedFieldName =  $wordUtils.uncapitalize($fieldName) )

@FunctionalInterface
public interface Get${entity.name}By${fieldName}Gateway {

    Optional<${entity.name}> execute(final String ${uncapitalizedFieldName});
}
