#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Remove${entity.name}ByIdGateway.java", $target.folder, "root/core/src/main/java/gateway/RemoveByIdGateway_java.vm" )
#end