#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
#foreach( $field in $domainLinks )
#set ( $fieldName = $wordUtils.capitalize($field.fieldName) )
#set ( $fieldEntityId = $wordUtils.capitalize($field.targetEntity.keyAttributes[0].name) )
$generator.generate($target.entityName, "Search${pluralEntityName}By${fieldName}${fieldEntityId}Gateway.java", $target.folder, "root/core/src/main/java/gateway/SearchByUkIdGateway_java.vm" )
#end
#end