#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Update${entity.name}ByIdGateway.java", $target.folder, "root/core/src/main/java/gateway/UpdateByIdGateway_java.vm" )
#end