#parse ( "include/loader_stringutils.vm" )
#parse ( "include/loader_wordutils.vm" )
#parse ( "include/domain_info.vm" )
package ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.repository;

import java.util.Optional;

import org.springframework.stereotype.Repository;

import com.cosium.spring.data.jpa.entity.graph.repository.EntityGraphJpaRepository;
import com.cosium.spring.data.jpa.entity.graph.repository.EntityGraphQuerydslPredicateExecutor;

import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.domain.${entity.name}Entity;

#include ( "/include/author.vm" )

@Repository
public interface ${entity.name}Repository extends EntityGraphJpaRepository<${entity.name}Entity, Long>, EntityGraphQuerydslPredicateExecutor<${entity.name}Entity> {
#foreach( $link in $domainEnumerators )
#if ($link.isCardinalityManyToOne())
#if ( $link.fieldType.contains("Enum_") )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($link.fieldName)(final String $link.fieldName);
#end
#end
#end
#foreach( $field in $domainStrings )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)IgnoreCase(final String $field.name);
#end
#foreach( $field in $domainBooleans )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)(final Boolean $field.name);
#end
}
