package ${ROOT_PKG}.core.${entity.name.toLowerCase()}.usecase;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};

#include ( "/include/author.vm" )

@FunctionalInterface
public interface Remove${entity.name}ByIdUseCase {

    ${entity.name} execute(final Long id);
}
