#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Update${entity.name}ByIdUseCase.java", $target.folder, "root/core/src/main/java/usecase/UpdateByIdUseCase_java.vm" )
#end