#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
$generator.generate($target.entityName, "Update${entity.name}By${domainId}Provider.java", $target.folder, "root/infra/sql/src/main/java/UpdateByIdProvider_java.vm" )
#end